.login-container {
  height: 75vh;
  text-align: center;
  height: 200px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

#green {
  background-color: green
}

#red {
  background-color: red
}

#type-racer-bar {
  height: 15vh;
  background: red;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#logo{
  display:block;
  padding: 50px;
  font-size: 50px;
  font-weight:bold
}
body {
  background-image: url('Typing-background.jpg');
  margin: 0;
}
